.profile__account-status{
  font-size: 23px;
  font-weight: 30;
  color: #c0c0c0;
margin: 18px;
}

//personal data
.profile__account {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

    .profile__personal-data-form {
      margin-left: 30px;

      .profile__personal-data-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-size: 25px;

        .profile__personal-data_text-name {
          margin-left: 10px;
          color: white;
          font-size: 20px;
          animation: super-rainbow 2s infinite linear;
        }
      }

      .profile__personal-data_text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        color: white;
        font-size: 20px;
        text-decoration: none;
      }

      .profile__personal-data_text-name {
        margin-left: 10px;
        color: white;
        font-size: 20px;
        animation: super-rainbow 2s infinite linear;
      }
    }
  }


//animation
@keyframes super-rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ffcc00;
  }
  20% {
    color: #f7ff00;
  }
  30% {
    color: #98f300;
  }
  40% {
    color: #11f800;
  }
  50% {
    color: #00e7c2;
  }
  60% {
    color: #0031ff;
  }
  70% {
    color: #6800ff;
  }
  80% {
    color: #9600ff;
  }
  90% {
    color: #eb00ff;
  }
  100% {
    color: #ff0000;
  }
}

.profile__account-avatar {
  height: 150px;
  border-radius: 400px;
}
