.friendAvatars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.avatars {

    border-radius: 100px;
    width: 65px;
    height: 65px;
    object-fit:cover;
    padding: 9px;

}
.text {
    font-size: 38px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    margin-left: -10px;
    transition: all 0.3s ease;

}