.side-bar__friend-avatar-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .side-bar__friend-avatar {
    border-radius: 100px;
    width: 65px;
    height: 65px;
    object-fit: cover;
    padding: 9px;
  }
}

.side-bar__friend-text {
  font-size: 38px;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  margin-left: -10px;
  transition: all 0.3s ease;
}
