.message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.account {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    width: 30%;

}
.dialogs {
    color: white;
    font-size: 20px;
display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10%;
}
.postFlex {
    width: 81%;
    display: flex;
    justify-content: flex-end;
    padding: 7px;
}
.submit {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    width: 100px;
    height: 40px;
    border-radius: 4px;
}