.loading {

    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

}
.img{

    background-color: rgba(0, 255, 217, 0);
}
.loading1
{
    width: 6%;
}
.skelet{
    width: 100%;
    height: 100%;
}