.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;

  .imgLoading {
    width: 6%;
  }
}
.LoaderFollow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 231, 194, 0);
  width: 30px;
  height: 30px;
}

.skeleton {
  width: 100%;
  height: 100%;
}
